* { /* Always add this * at the top of the CSS document to reset the browser's margins; this ensures the styling will work as intended. */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* You need to use a @font-face selector for each font you wish to apply to your website*/
@font-face {
  font-family: 'Aladin';
  src: url('../assets/fonts/Aladin-Regular/Aladin-Regular.ttf') format('truetype');
}

@font-face {  
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype');
}


html {
  font-family: sans-serif;
  color: #999999;
}

body {
  margin: 0 auto;
  background-color: #222222;
}