* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

      body {
        width: 50%;
        max-width: 800px;
        min-width: 480px;
        margin: 0 auto;
        font-family: sans-serif;
        color: #999999;
        background-color: #222222;
      }
      
      .form input[type="number"] {
        width: 200px;
      }

      .lastResult {
        color: white;
        padding: 3px;
      }
