<<<<<<< HEAD
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #eeb233;
}


=======
>>>>>>> 1c3511b6ed35ee1ecc3fa320f7414d824c3fbac2
h1:hover 
    {color: #ffffff;
        background-color: #370f96;
    
}
<<<<<<< HEAD

p
    {background-color: #029ba0;}


#butters
    {color: #bbd001}
=======
>>>>>>> 1c3511b6ed35ee1ecc3fa320f7414d824c3fbac2
