/**Color Codes: #00B598(cyan) #D60F42(magenta) #F0C358(yellow) #D30600(red) #444444(grey) #f0f0f0(white) #1D1114(black) **/


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ROGFonts-Regular, Arial, sans-serif';
    src: url('../assets/ROGFonts-Regular.otf') format('opentype');
}

body {
    font-family: 'ROGFonts-Regular, Arial, sans-serif';
    background-color: #f0f0f0;
    color:#1D1114;
}


/** Header **/

#header-nav {
    background-color: #1D1114;
    border-radius: 0;
    border: 0;
    font-size: 1.5em;
}

#nav-list {
    margin-top: 15px;
    margin-bottom: 15px;
}

#nav-list a {
    color: #1D1114;
    border-radius: 5px;
    background: #F0C358;
    padding: 16px 32px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#nav-list a:hover {
    color: #f0f0f0;
    background: #00B598;
    transition: .3s;
    border-radius: 5px;
}

.navbar-btn {
    margin: 10px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
  
.navbar .navbar-collapse {
    text-align: center;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #f0f0f0;
    background-color: #D60F42;
    width: 15%;
    float: none;
}

.navbar-toggle .icon-bar {
    width: 100%;
}

.navbar-header button.navbar-toggle:hover {
    background-color: #00B598;
    transition: .3s;
}

.navbar-header button.navbar-toggle:focus {
    background-color: #00B598;
    transition: .3s;
}

.navbar-header button.navbar-toggle:active {
    background-color: #D60F42;
    transition: .3s;
}

.jumbotron {
    margin: 0px;
    padding: 0px;
    background-color: #1D1114;
}





/** End Header **/



/** Footer **/

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #eeb233;
    border-top: 0px;
}

.panel-footer div.row {
    margin-bottom: 35px;
}

#hours, #address {
    line-height: 2;
    color: #165244;
}

#hours > span, #address > span {
    color: #c52830;
    font-size: 1.3em;
}

#address p {
    color:#165244;
    font-size: .8em;
    line-height: 1.8em;
}

#testamonials {
    font-style: italic;
    line-height: 1.8em;
}

#testamonials p:nth-child(2) {
    margin-top: 25px;
}

#testamonials p {
    color: #165244;
    font-size: .8em;
    font-style: italic;
}

#people-say {
    color: #c52830;
    font-style: normal;
    font-size: 1.3em;
}

/** END Footer **/



/** Home Page **/



/** End Home Page **/

/** Rules Page **/



/** End Rules Page **/


/** Media Queries **/

/********************** Large Devices Only **********************/

@media (min-width: 1447px) {
    
    /* Home Page */
    .container .jumbotron {
    margin-left: auto;
    margin-right: auto;
    background: url('../graphics/jumbotronbig.jpg') no-repeat center;
    height: 667px;
    width: 1000px;
    box-shadow: 0px 0px 50px #165244;
    border: 2px solid #eeb233;
    /* End Home Page */
   }
}

/********************** Medium Devices Only *********************/
@media (min-width: 992px) and (max-width: 1447px) {
    
    /* Home Page */
    .container .jumbotron {
    margin-left: auto;
    margin-right: auto;
    background: url('../graphics/jumbotronbig.jpg') no-repeat center;
    height: 667px;
    width: 900px;    
    box-shadow: 0px 0px 50px #165244;
    border: 2px solid #eeb233;
    /* End Home Page */
   }
}



/********************** Small Devices Only **********************/

@media (min-width: 767px) and (max-width: 992px) {
    /* Home Page */
    .container .jumbotron {
    margin-left: auto;
    margin-right: auto;
    background: url('../graphics/backgroundstock.jpg') no-repeat center;
    height: 640px;
    width: 640px;
    box-shadow: 0px 0px 50px #165244;
    border: 2px solid #eeb233;
    /* End Home Page */
   }

 
}

/********************** Extra Small Devices Only ****************/

@media (max-width: 767px) {

    #collapsable-nav a { /* Navbar Button */
        font-size: 1.2em;
    }

    .container img {
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #eeb233;
    }

    .container .jumbotron {/* Main content Container */               
        
        background: none;
        padding: 0px;       
    }

}


/** End Media Queries **/