/*
Color Pallette: Wanting something that's "edgy, dynamic, and modern."
#F2F76F = neon yellow
#6B6F70 = cobalt grey
#1A1426 = deep dark plum

Branding Font: Quicksilver Italic
Secondary Font: Arial
*/



* { /* Always add this * at the top of the CSS document to reset the browser's margins; this ensures the styling will work as intended. */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'Quicksilver';
  src: url('../assets/fonts/Quicksilver\ Italic.otf') format('opentype');
}

      html {
        font-family: sans-serif;
        color: #F2F76F;
      }

      body {
        width: 50%;
        max-width: 800px;
        min-width: 480px;
        margin: 0 auto;
        background-color: #1A1426;
      }

      .container{
        max-width: 65%;
        margin: 200px auto;
        padding: 20px;
        background-color: #6B6F70;
      }