* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'LongZhuTi Regular';
    src: url('../css/fonts/LongZhuTi-Regular.ttf') format('truetype');
}

body {
    font-family: 'LongZhuTi', Helvetica, sans-serif;
    background-color: #c52830;
    color:#ffffff;
}

#header-nav {
    background-color: #eeb233;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url("../css/assets/logostocksm.png") no-repeat;
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 0;
}

h1 {
    color: #eeb233;
}

h1:hover 
{
    color: #c52830;
    background-color: #eeb233;
    
    
}



