* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'LongZhuTi';
    background-color: #61122f;
    color:#ffffff;
}


h1:hover 
{
    color: #ffffff;
    background-color: #370f96;
    
    
}

p
    {background-color: #029ba0;}


#butters
    {color: #bbd001}
