/*
Color Pallette::
#DADDF2 = offwhite
#0C3332 = wine dark sea
#35D7D3 = slightly cyan
#8D556D = Mauvish
#FF99C4 = bubble gum pink
#1E2A66 = dark blue
#3D55CC = Gently Royal blue
*/


* { /* Always add this * at the top of the CSS document to reset the browser's margins; this ensures the styling will work as intended. */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* You need to use a @font-face selector for each font you wish to apply to your website*/
@font-face { /* Body Text */
  font-family: 'Bellefair';
  src: url('../fonts/Bellefair/Bellefair-Regular.ttf') format('truetype');
}

@font-face {  /* Headers & Emphasis */
  font-family: 'Caviar Dreams';
  src: url('../fonts/caviar_dreams/CaviarDreams.ttf') format('truetype');
  src: url('../fonts/caviar_dreams/CaviarDreams_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Material_Symbols_Rounded/MaterialSymbolsRounded-VariableFont_FILL\,GRAD\,opsz\,wght.ttf') format('truetype');
}

html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;  
  margin-top: 2%;
  background-color: #DADDF2;
  font-family: 'Bellefair';
}

.container {
  margin: 0 auto;
  background-color: #DADDF2;
  border: 12px solid #3D55CC;
  width: 80%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 auto;
  background-color: #3D55CC;
  font-family: 'Caviar Dreams';
  padding: 8px 0px 24px 0px;
  text-align: center;
  color: #DADDF2;  
  font-size: 2.5em;
  font-weight: bold;
  width: 100%;
}

/********************* Instructions Drop Down Menu **********************/

.instructions {
  margin: 0 auto;
  color: #1E2A66;  
  font-size: 1.3em;
  width: 90%;
  margin-top: 8px;
}

summary {
  font-family: 'Caviar Dreams';
  cursor: pointer;
  padding: 12px;  
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 32px;
}

/* thought this was a cool feature, but ultimately didn't help; so I'm keeping it here for future reference
summary::marker {
  color: #3D55CC;
}
*/

summary:hover, summary:focus {
  background-color: #3D55CC;
  color: #DADDF2;
  transition: 0.2s ease-in;
}

ul {  
  margin-top: 12px;
}

li {
  padding: 8px;
  margin-left: 24px;  
  font-size: 1.1em;
}



/********************** Bingo Board Crafter Form Area ******************/
form {
  margin: 0 auto;
  font-family: 'Caviar Dreams';
  font-size: 1.5em;
  color: #1E2A66;
  padding: 16px;
  width: 90%;
  flex-direction: column;
}

.crafter-items {
  margin: 0 auto;
  margin-top: 22px;
}

select {
  margin-top: 8px;
  padding: 12px 24px;
  border-radius: 24px;
  max-width: 300px;
  background-color: #1E2A66;
  font-family: "Caviar Dreams";
  color: #DADDF2;
  font-size: 0.8em;
  cursor: pointer;
}

/***************** Toggle Switch Start *****************/
.toggle-title {
  margin: 0 auto;
  font-family: 'Caviar Dreams';
  font-size: 1em;
  color: #1E2A66;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  height: 44px;
  width: 84px;
  margin-top: 4px;
}

.yes-no {
  position: relative;
  display: inline-block;
  padding: 0px 4px;
  transform: translateY(-50%);
}

.toggle-switch input {
  display: none;
}

.toggle-handle {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #3D55CC;
  border-radius: 32px;
  transition: 0.5s ease-in;
}

.toggle-handle:before {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  background-color: #DADDF2;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  transition: 0.5s;
}

input:focus + .toggle-handle {
  display: none;
}

input:checked + .toggle-handle {
  background-color: #8D556D;
}

input:checked + .toggle-handle:before {
  transform: translateX(40px);
}


/************************** Toggle Switch End ***************************/

#cstmFree {
  display: block;
}

.input-field {
  margin-top: 8px;
  padding: 12px 24px;
  border-radius: 24px;
  width: 230px;
  font-family: 'Caviar Dreams';
  background-color: #1E2A66;
  font-size: 0.8em;
  color: #DADDF2;
}

textarea {
  margin: 0 auto;
  margin-top: 8px;
  padding: 8px;
  width: 95%;
  height: 100px;
  background-color: #DADDF2;
  color: #1E2A66;
  font-family: 'Bellefair';
  font-size: 1em;
  border-radius: 8px;
  border: 4px solid #3D55CC;
}

textarea:focus {
  text-decoration: none;
}

.btn-div {
  text-align: center;
}

button {
  margin: 0 auto;  
  text-align: center;
  margin-bottom: 24px;
  padding: 16px 12px;
  background-color: #3D55CC;
  color: #DADDF2;
  font-family: "Caviar Dreams";
  font-size: 1.8em;
  font-weight: bold;
  border: none;
  border-radius: 36px;
  min-width: 280px;
}

button:hover {
  background-color: #8D556D;
  transition: 0.3s ease-in;
  cursor: pointer;
}

/******************************** End of Form ***********************************/

/******************************* Bingo Board *******************************/

#bingoPreview {
  margin: 0 auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  display: none;
  font-family: "Caviar Dreams";
  overflow-y: scroll;
  overflow-x: scroll;
  z-index: 2;
}

.title-container {
  margin: 0 auto;  
  background-color: #3D55CC;
  margin-top: 20px;
  padding: 8px;
}

#bingoPreview h2 {
  margin: 0 auto;
  text-align: center;
  color: #DADDF2;
  padding: 8px;
  font-size: 2em;
}

.board-container {
  background-color: #DADDF2;
}

.error-msg {
  margin: 0 auto;
  text-align: center;
  color: #8D556D;
  font-size: 1.8em;
  font-weight: bold;
  padding: 32px;
}


/*************************** Dropdown Menu ****************************/



/*************************** Icon Positioning ****************************/
i {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3em;
}

.menu-container {      
  position: absolute;
  top: 16px;
  display: none;
}

.menu-btn {
  margin: 0 auto;
  position: relative;
  background-color: #1E2A66;
  color: #DADDF2;
  font-size: 2.3em;
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  text-align: center;  
  z-index: 3;
}

.menu-btn:hover, .menu-btn:active {
  background-color: #DADDF2;
  color: #3D55CC;
  transition: ease-in-out 0.2s;
}

.menu-list {  
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 86px;
  background-color: #3D55CC;
  font-weight: bold;
  flex-direction: column;
  display: inline-flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 4px #1E2A66;
  z-index: 3;
}

.menu-item {
  color: #DADDF2;
  font-size: 1.2em;
  text-align: center;  
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
}

.menu-item:hover, .menu-item:active {
  background-color: #DADDF2;
  color: #3D55CC;
  transition: ease-in-out 0.2s;
}

#closeBtn:hover, #closeBtn:active {
  background-color: #8D556D;
  color: #DADDF2;
  transition: ease-in-out 0.2s;
}



/***************************** Bingo Squares ******************************/

.bingo-box {
  margin: 0 auto;
  text-align: center;
  hyphens: auto;
  hyphenate-limit-chars: 12;
  font-weight: bold;
  color: #3D55CC;
  position: relative;
  border: 4px solid #3D55CC;
  float: left;
  background-color: #DADDF2;
}



/************************* Media Queries ****************************************/


/****** Larger Screens ******/
@media (min-width: 1280px) {

  .title-container {
    width: 945px;
  }
  .board-container {
    width: 945px;
    margin: 0 auto;
    text-align: center;
    }

  /** Bingo Squares **/
  .bingo-5x5 {
    margin: 0 auto;
    align-items: center;
    width: 189px;
    height: 189px;
    font-size: 1.3em;
    overflow: hidden;
    padding: 16px;    
  }
  
  .bingo-7x7 {
    margin: 0 auto;
    align-items: center;
    width: 135px;
    height: 135px;
    overflow: hidden;
    padding: 12px;
  }
  
  .bingo-9x9 {
    margin: 0 auto;
    align-items: center;
    width: 105px;
    height: 105px;
    font-size: 0.8em;
    overflow: hidden;
    padding: 8px;
  }  

}


/******* Laptops & Tablets *******/
@media (min-width: 769px) and (max-width: 1279px) {

  .title-container {
    width: 630px;
  }
  .board-container {
    width: 630px;
    margin: 0 auto;
    text-align: center;
    }

  /** Bingo Squares **/
  .bingo-5x5 {
    margin: 0 auto;
    align-items: center;
    width: 126px;
    height: 126px;
    font-size: 1em;
    overflow: hidden;
    padding: 12px;    
  }
  
  .bingo-7x7 {
    margin: 0 auto;
    align-items: center;
    width: 90px;
    height: 90px;
    font-size: 0.8em;
    overflow: hidden;
    padding: 8px;
  }
  
  .bingo-9x9 {
    margin: 0 auto;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 0.6em;
    overflow: hidden;
    padding: 4px;
  }

}





/**** Smaller Devices ****/
@media (max-width: 768px) {

  .title-container {
    width:420px;
  }
  .board-container {
    width: 420px;
    margin: 0 auto;
    text-align: center;
    }

  /** Bingo Squares **/
  .bingo-5x5 {
    margin: 0 auto;
    align-items: center;
    width: 84px;
    height: 84px;
    font-size: 0.8em;
    overflow: hidden;
    padding: 8px;    
  }
  
  .bingo-7x7 {
    margin: 0 auto;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 0.6em;
    overflow: hidden;
    padding: 4px;
  }
  
  .bingo-9x9 {
    margin: 0 auto;
    align-items: center;
    width: 46.6px;
    height: 46.6px;
    font-size: 0.4em;
    overflow: hidden;
    padding: 4px;
  }

}

