* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1b277c;
}

/**Desktop View**/
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
        border: 3px solid #edc133;
    }
}

/**Tablet View**/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
        float: left;
        border: 3px solid #edc133;
    }
}

/**Mobile View**/
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%
        float: left;
        border: 3px solid #edc133;
    }

}


.container {
    width: 100%
}

.h1 {
    color: #edc133;
    font-family: Impact;
    font-size: 48px;
    text-align: center;
    padding: 20px;
    background-color: gray;
    border: 3px solid #edc133;
    width: 500px;
}


.p {
    color: #ffffff;
    font-family: 'Arial Narrow Bold';
    font-size: 24px;
    text-align: left;
    margin: 20px

}

}